<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pkgs.mapper.NoteMapper">
	<select id="selectNote" resultType="org.pkgs.bean.NoteBean">
		select
			*
		from
			note_t
		where id= #{id}
	</select>
</mapper>